img{
    width: 30px;
    height: 30px;
}
*{
    padding: 0px;
    margin: 0px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.sidebar{
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 150px 300px;
    background-color:blueviolet;
    grid-row: 1/5;
}
.sidebar>ul>li{
    padding-bottom: 10px;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
}
li{
    list-style-type: none;
}
.main-logo{
    height: 50px;
}

.header{
    display: grid;
    grid-template-columns: minmax(auto, 4fr) 1fr;
    align-items: center;
    justify-items: start;
    padding: 10px;
    background-color: rgb(213, 111, 111);
   
}
.search-container{
    display: flex;

}
#search-bar{
    width: 40vw;
    border-radius: 30px;
}
.user-profile{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.user{
    background-color:rgba(255, 255, 255, .3);
    box-shadow:-1px -1px 2px #fff;
    border:1px solid rgba(255, 255, 255, .7);
    border-radius:  50%;
}