img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    height: 2rem;
}


:root {
    --light-sea-green: #22aaa1ff;
    --onyx: #393e41ff;
    --terra-cotta: #e26d5aff;
    --bone: #e5dcc5ff;
    --vivid-sky-blue: #2bd9feff;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-family: 'Alegreya Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    color:var(--onyx)
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 150px 300px;
    background-color: var(--vivid-sky-blue);
    grid-row: 1/5;
}

.sidebar>ul>li {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    
}
.sidebar>ul>li:hover{
    text-shadow: 0 0 5px black;
    color: whitesmoke;
    cursor: pointer;
    height: 2rem;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
}
.logo>img, .user{
    width: 40px;
    height: 40px;
}
.logo > h1{
    font-size: 40px;;
}
li {
    list-style-type: none;
}

.main-logo {
    height: 50px;
}

.header {
    display: grid;
    grid-template-columns: minmax(auto, 4fr) 1fr;
    align-items: center;
    justify-items: start;
    padding: 10px;

}

.search-container {
    display: flex;
    gap: 10px;

}

#search-bar {
    width: 40vw;
    border-radius: 30px;
    overflow-wrap: wrap;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.user-profile > h3{
    font-size:25px;
}

.user {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: -1px -1px 2px #fff;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 50%;

}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.header,
.menu{
    background-color: whitesmoke;

    
}
.left-side {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.right-side>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.right-side {
    display: grid;
    align-items: center;
}

.right-side>ul>li>button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--terra-cotta);
    font-size: 15px;
    font-weight: bold;
}
.right-side>ul>li>button:hover{
    background-color: whitesmoke;
}
.main-body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 10px;
    padding: 10px;
    background-color: lightgray;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border-left: 10px solid var(--terra-cotta);
    box-shadow: var(--shadow);

}
.card>h2{
    padding-top: 10px;
}


.article-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.card-content{
    padding: 30px;
}

.announcements>ul,
.trending>ul {
    
    box-shadow: var(--shadow);
    background-color: whitesmoke;
        display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding:10px
}
.announcements>ul>li ,
.trending>ul > li{
    border-bottom: 1px solid black;
    padding: 10px
}
.side-content {
    display: grid;
    grid-template-rows: 1 1;
    gap: 30px;
}

.side-container>h2 {
    padding-top: 20px;
}
.introduction{
    font-size: 25px;
    font-weight: bold;
}
.announcements>ul>li:last-child ,
.trending>ul > li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.trending>ul > li>h3{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.announcements>ul>li>h3{
    padding-bottom: 5px;
    
}
.announcements>ul>li>p,
.trending>ul > li>p{
    color: gray;
}
.content>h2{
    padding-top: 20px;

}