img{
    width: 30px;
    height: 30px;
}
*{
    padding: 0px;
    margin: 0px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.sidebar{
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: 150px 300px;
    background-color:blueviolet;
    grid-row: 1/5;
}
.sidebar>ul>li{
    padding-bottom: 10px;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
}
li{
    list-style-type: none;
}
.main-logo{
    height: 50px;
}